@{
    Layout = "~/Views/Shared/_Mestre.cshtml";

}

@section Corpo {
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">i4Tech</a>
            </li>
            <li class="breadcrumb-item active">Navbar</li>
        </ol>
        <h1>Cadastrar Informações do Veículo</h1>
        <hr>
        <form>
            <!-- Marca e Modelo-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="text-base" for="Marca">Marca</label>
                    <select id="Marca" class="form-control" name="Montadora">
                        <option selected="selected" value="">Selecione...</option>
                        <option value="fiat">FIAT</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="text-base" for="Modelo">Modelo</label>
                    <select id="Modelo" class="form-control" name="Modelo">
                        <option selected="selected" value="">Selecione...</option>
                        <option value="palio elx">PALIO ELX 1.4</option>
                    </select>
                </div>
            </div>

            <!-- Cor, Ano, KM e data da última revisão-->
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputCor">Cor</label>
                    <input type="text" class="form-control" id="inputCor">
                </div>
                <div class="form-group col-md-1">
                    <label for="inputAno">Ano</label>
                    <input type="text" class="form-control" id="inputAno">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputKm">KM do veículo</label>
                    <input type="text" class="form-control" id="inputKm">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputDataRevisao">Data da última revisão</label>
                    <input class="form-control" type="date" id="inputDataRevisao">
                </div>
            </div>

            <!-- Procedimentos realizados na última revisão-->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Procedimentos realizados na última revisão</label>
                    <div class="row show-grid">

                        <div class="col-xs-6 col-sm-4">
                            <label for="ar">
                                <input type="checkbox" id="ar" value="filtroAr" /> Filtro de Ar
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="arComb">
                                <input type="checkbox" id="filComb" value="filtroCombustivel" /> Filtro de Combustível
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="arCond">
                                <input type="checkbox" id="arCond" value="filtroArCondicionado" /> Filtro Ar Condicionado
                            </label>
                        </div>


                        <div class="col-xs-6 col-sm-4">
                            <label for="oleo">
                                <input type="checkbox" id="oleo" value="filtroOleo" /> Filtro de Óleo
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="velas">
                                <input type="checkbox" id="velas" value="1" name="Velas"/> Velas
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="luzes">
                                <input type="checkbox" id="luzes" value="luzes" /> Luzes
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="freios">
                                <input type="checkbox" id="freios" value="freios" /> Freios
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="amortecedor">
                                <input type="checkbox" id="amortecedor" value="amortecedor" /> Amortecedor
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="pneus">
                                <input type="checkbox" id="pneus" value="penu" /> Pneus
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="correiaDentada">
                                <input type="checkbox" id="correiaDentada" value="correiaDentada" /> Correia Dentada
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="alternador">
                                <input type="checkbox" id="alternador" value="correiaAlternador" /> Correia do Alternador
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="motor">
                                <input type="checkbox" id="motor" value="fuidoTransmissao" /> Fluído de Transmissão
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="alinhamento">
                                <input type="checkbox" id="alinhamento" value="alinhamento" /> Alinhamento
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="fluidoDire">
                                <input type="checkbox" id="fluidoDire" value="fuidoDireçao" /> Fluído da Direção
                            </label>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label for="fluidoOleo">
                                <input type="checkbox" id="fluidoOleo" value="discoFreio" /> Disco de Freio
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Botão enviar-->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="button" id="cadVeiculo" class="btn btn-default bt-edit" onclick="cadastro()">Cadastrar</button>
                </div>
            </div>

        </form>


        <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
        <div style="height: 100px;"></div>
    </div> 


    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        
        //$(function () {            
        //    $("#Marca").ready(function () {
        //        $("Modelo").change(function () {
        //            $("Modelo").html('<option value=""></option>');
        //        var texto = $(this).val();

        //        if (texto === "fiat") {
        //            var option = document.createElement("option");
        //            option.appendChild("Palio");
        //        }
         
                
        //        });
        //    });
        //});

        function cadastro() {
            debugger;
            var cadastroVeiculo = {
                carro : {
                Montadora: $("#Marca").val(),
                Modelo: $("#Modelo").val(),
                Cor: $("#inputCor").val(),
                Ano: $("#inputAno").val(),
                Km: $("#inputKm").val()
            },
            revisoes : {
                Data: $("#inputDataRevisao").val(),
                FiltroAr: $("#ar").val(),
                FiltroDeCombustivel: $("#filComb").val(),
                FiltroArCondicionado: $("#arCond").val(),
                FiltroDeOleo: $("#oleo").val(),
                Velas: $("#velas").val(),
                Luzes: $("#luzes").val(),
                Freios: $("#freios").val(),
                Amortecedor: $("#amortecedor").val(),
                Pneus: $("#pneus").val(),
                CorreiaDentada: $("#correiaDentada").val(),
                CorreiaAlternador: $("#motor").val(),
                Alinhamento: $("#alinhamento").val(),
                FluidoDaDireção: $("#fluidoDIre").val(),
                FluidoDoOleo: $("#fluidoOleo").val()
            }
        }
        
        $.ajax({
            url: "@Url.Action("CadastroNovoVeiculo", "Veiculo")",
            cache: false,
            method: "post",
            datatype: "json",
            data: cadastroVeiculo,
            success: function (dados) {

                alert("Sucesso");
            },
            error: function () {
                alert("Houve um herro ao salvas os cadastros");
            }
        });
    }

</script>
}


