@{
    Layout = "~/Views/Shared/_Mestre.cshtml";

}

@section Corpo {
    <div class="container-fluid">
       
        <h1>Consultar Informações do Veículo</h1>
        <hr>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Óleo do motor
                    </div>
                    <div class="panel-body">
                        <p>Deve ser trocado, conforme nossos dado será trocada em dd/MM/yyyy estipulada na última troca de óleo.</p>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Filtro de ar
                    </div>
                    <div class="panel-body">
                        <p>Verifique se há sujeira, caso haja, retirá-la para não entrar no motor do carro.</p>
                        <br />
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Pneus
                    </div>
                    <div class="panel-body">
                        <p>Através dos nossos dados a sua última troca de pneus foi há bastante tempo. Já realizou a calibragem dos pneus?</p>

                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Faróis
                    </div>
                    <div class="panel-body">
                        <p>Verifique se o farol alto e o farol baixo, bem como as luzes de freio, as lanternas, as setas e o pisca-alerta estão funcionando corretamente.</p>
                        <br />
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Freios
                    </div>
                    <div class="panel-body">
                        <p>Preste atenção se o freio emite algum ruído quando ele é acionado, ou se sua aderência não está eficiente. Se você perceber algum problema, nos procure que indicaremos um mecânico próximo.</p>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Verifique os Itens de Segurança
                    </div>
                    <div class="panel-body">
                        <p>Chave de roda para a troca de pneus;</p>
                        <p>Macaco para a troca de pneus;</p>
                        <p>Triângulo de sinalização;</p>
                        <p>Extintor de incêndio.</p>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>

        <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
        <div style="height: 40px;"></div>
    </div>


}



