@{
    Layout = "~/Views/Shared/_Mestre.cshtml";

}

@section Corpo {

    <div class="container-fluid">
        <h1>Informe seu problema</h1>
        <hr>
        <form id="enviarMsg">
            <div class="form-group">
                <label>Digite o assunto do problema</label>
                <input id="inputAssunto" name="Assunto" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Descreva o problema</label>
                <textarea id="inputMsg" name="Descricao" class="form-control" placeholder="" rows="3"></textarea>
            </div>


            <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin">Enviar Informações</button>
        </form>


        <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
        <div style="height: 240px;"></div>
    </div>
    <script type="text/javascript" src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $("#enviarMsg").validate({
        rules: {
            Assunto: {
                required: true,
                minlength: 5
            },

            Descricao: {
                required: true,
                minlength: 10
            }
            },
              submitHandler: function (form) {

            var informacao = {
                Assunto: $("#inputAssunto").val(),
                Descricao: $("#inputMsg").val(),
            };

            $.ajax({
                url: "@Url.Action("InsereMsg", "Mensagem")",
                cache: false,
                method: "post",
                datatype: "json",
                data: informacao,
                success: function (dados) {
                    alert("Mensagem enviada com sucesso!");
                    $('#enviarMsg input').val("");
                    $('#inputMsg').val("");
                },
                error: function () {
                    alert("Erro");
                }
            });

        }
    });

    </script>

}

