@{
    Layout = "~/Views/Shared/_Mestre.cshtml";

}

@section Corpo {



    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">i4Tech</a>
            </li>
            <li class="breadcrumb-item active">Navbar</li>
        </ol>
        <h1>Cadastro Funcionário</h1>
        <hr>
        <p>Digite os dados abaixo</p>

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNome">Nome Funcionário</label>
                    <input type="text" class="form-control" id="inputNome" placeholder="Nome">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputEmailUser">Email</label>
                    <input type="email" class="form-control" id="inputEmailUser" placeholder="Email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputUser">Usuário</label>
                    <input type="text" class="form-control" id="inputUser" placeholder="Usuário">
                </div>
                <div class="form-group col-md-6">
                    <label class="text-base" for="tipoAcesso">Tipo de Acesso</label>
                    <select id="tipoAcesso" class="form-control" name="tipoAcesso" data-bind="value: tipoAcesso, hasFocus: tipoAcesso.focused, css: { 'has-error': showError(tipoAcesso) }">
                        <option selected="selected" value="">Selecione...</option>
                        <option value="a">Administrador</option>
                        <option value="p">Padrão</option>
                        <option value="c">Contribuidor</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputSenha">Senha</label>
                    <input type="password" class="form-control" id="inputSenha" placeholder="Senha">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSenha2">Confirme a Senha</label>
                    <input type="password" class="form-control" id="inputSenha2" placeholder="Repita a Senha">
                </div>
            </div>
        </form>

        <!-- Botão enviar-->
        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="button" id="cadUser" onclick="CriarUsuario();">Criar Usuário</button>
            </div>
        </div>


        <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
        <div style="height: 100px;"></div>
    </div>
    <!-- Modal para dados enviados -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dados de Acesso</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <p>Usuário criado com sucesso</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                </div>


            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/assets/js/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">


        function CadastrarUsuario() {
            var usuario = {
                Nome: $("#inputUser").val(),
                Email: $("#inputEmailUser").val(),
                Senha: $("#inputSenha").val(),
            };

            $.ajax({
                url: "@Url.Action("","")",
                cache: false,
                method: "post",
                datatype: "json",
                data: usuario,
                success: function (dados) {

                },
                error: function () {

                }

            });

        }
    </script>



}
