@{
    Layout = "~/Views/Shared/_Mestre.cshtml";

}

@section Corpo {
    <div class="container-fluid">
       
        <h1>Atualização de Cadastro</h1>
        <hr>
        <p>Parabéns! Você já criou o seu pré cadastro, vamos atualizar mais alguns dados.</p>

        <form>
            <!-- Nome, sobrenome-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" id="inputNome" placeholder="Nome">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSobrenome">Sobrenome</label>
                    <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome">
                </div>
            </div>

            <!-- RG, CPF-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputRg">RG</label>
                    <input type="text" class="form-control" id="inputRg" placeholder="Digite o número do RG">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCpf">CPF</label>
                    <input type="text" class="form-control" id="inputCpf" placeholder="Digite o número do CPF">
                </div>
            </div>

            <!--Data nascimento, SEXO-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputData">Data de Nascimento</label>
                    <input class="form-control" type="date" id="inputData">
                </div>
                <div class="form-group col-md-6">
                    <label class="text-base" for="Gender">Sexo</label>
                    <select id="Gender" class="form-control" name="Gender" data-bind="value: gender, hasFocus: gender.focused, css: { 'has-error': showError(gender) }">
                        <option selected="selected" value="">Selecione...</option>
                        <option value="m">Masculino</option>
                        <option value="f">Feminino</option>
                        <option value="u">Não especificado</option>
                    </select>
                </div>
            </div>

            <!-- CEP,ENDEREÇO, NÚMERO E BAIRRO-->
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputCep">CEP</label>
                    <input type="text" class="form-control" id="inputCep">
             
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEnd">Endereço</label>
                    <input type="text" class="form-control" id="inputEnd">
                </div>
                <div class="form-group col-md-1">
                    <label for="inputNum">Número</label>
                    <input type="text" class="form-control" id="inputNum">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputBairro">Bairro</label>
                    <input type="text" class="form-control" id="inputBairro">
                </div>
            </div>

            <!-- CIDADE, ESTADO E PAÍS-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Cidade</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputState">Estado</label>
                    <select id="inputState" class="form-control">
                        <option selected>Selecione...</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AM">AM</option>
                        <option value="AP">AP</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MG">MG</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="PR">PR</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="RS">RS</option>
                        <option value="SC">SC</option>
                        <option value="SE">SE</option>
                        <option value="SP">SP</option>
                        <option value="TO">TO</option>

                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPais">País</label>
                    <select id="inputPais" class="form-control">
                        <option selected>Selecione...</option>
                        <option value="AF">Afeganistão</option>
                        <option value="ZA">África do Sul</option>
                        <option value="AL">Albânia</option>
                        <option value="DE">Alemanha</option>
                        <option value="AD">Andorra</option>
                        <option value="AO">Angola</option>
                        <option value="AI">Anguila</option>
                        <option value="AQ">Antártida</option>
                        <option value="AG">Antígua e Barbuda</option>
                        <option value="SA">Arábia Saudita</option>
                        <option value="DZ">Argélia</option>
                        <option value="AR">Argentina</option>
                        <option value="AM">Armênia</option>
                        <option value="AW">Aruba</option>
                        <option value="AU">Austrália</option>
                        <option value="AT">Áustria</option>
                        <option value="PS">Autoridade Palestina</option>
                        <option value="AZ">Azerbaijão</option>
                        <option value="BS">Bahamas</option>
                        <option value="BH">Bahrein</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BY">Belarus</option>
                        <option value="BE">Bélgica</option>
                        <option value="BZ">Belize</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BO">Bolívia</option>
                        <option value="BQ">Bonaire</option>
                        <option value="AN">Bonaire, Curaçao, Saba, Santo Eustáquio e Sint Maarten</option>
                        <option value="BA">Bósnia e Herzegovina</option>
                        <option value="BW">Botsuana</option>
                        <option value="BR">Brasil</option>
                        <option value="BN">Brunei</option>
                        <option value="BG">Bulgária</option>
                        <option value="BF">Burquina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="BT">Butão</option>
                        <option value="CV">Cabo Verde</option>
                        <option value="CM">Camarões</option>
                        <option value="KH">Camboja</option>
                        <option value="CA">Canadá</option>
                        <option value="QA">Catar</option>
                        <option value="KZ">Cazaquistão</option>
                        <option value="TD">Chade</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CY">Chipre</option>
                        <option value="SG">Cingapura</option>
                        <option value="CO">Colômbia</option>
                        <option value="CG">Congo</option>
                        <option value="CD">Congo (RDC)</option>
                        <option value="KR">Coreia</option>
                        <option value="KP">Coreia do Norte</option>
                        <option value="CR">Costa Rica</option>
                        <option value="HR">Croácia</option>
                        <option value="CU">Cuba</option>
                        <option value="CW">Curaçao</option>
                        <option value="DK">Dinamarca</option>
                        <option value="DJ">Djibuti</option>
                        <option value="DM">Dominica</option>
                        <option value="EG">Egito</option>
                        <option value="SV">El Salvador</option>
                        <option value="AE">Emirados Árabes Unidos</option>
                        <option value="EC">Equador</option>
                        <option value="ER">Eritreia</option>
                        <option value="SK">Eslováquia</option>
                        <option value="SI">Eslovênia</option>
                        <option value="ES">Espanha</option>
                        <option value="US">Estados Unidos</option>
                        <option value="EE">Estônia</option>
                        <option value="ET">Etiópia</option>
                        <option value="PH">Filipinas</option>
                        <option value="FI">Finlândia</option>
                        <option value="FR">França</option>
                        <option value="GA">Gabão</option>
                        <option value="GM">Gâmbia</option>
                        <option value="GH">Gana</option>
                        <option value="GE">Geórgia</option>
                        <option value="GI">Gibraltar</option>
                        <option value="GD">Granada</option>
                        <option value="GR">Grécia</option>
                        <option value="GL">Groenlândia</option>
                        <option value="GP">Guadalupe</option>
                        <option value="GU">Guam</option>
                        <option value="GT">Guatemala</option>
                        <option value="GG">Guernsey</option>
                        <option value="GY">Guiana</option>
                        <option value="GF">Guiana Francesa</option>
                        <option value="GN">Guiné</option>
                        <option value="GQ">Guiné Equatorial</option>
                        <option value="GW">Guiné-Bissau</option>
                        <option value="HT">Haiti</option>
                        <option value="HN">Honduras</option>
                        <option value="HU">Hungria</option>
                        <option value="YE">Iêmen</option>
                        <option value="AC">Ilha Ascension</option>
                        <option value="BV">Ilha Bouvet</option>
                        <option value="CX">Ilha Christmas</option>
                        <option value="IM">Ilha de Man</option>
                        <option value="NF">Ilha Norfolk</option>
                        <option value="AX">Ilhas Aland</option>
                        <option value="KY">Ilhas Cayman</option>
                        <option value="CC">Ilhas Cocos (Keeling)</option>
                        <option value="KM">Ilhas Comores</option>
                        <option value="CK">Ilhas Cook</option>
                        <option value="FO">Ilhas Faroés</option>
                        <option value="FJ">Ilhas Fiji</option>
                        <option value="GS">Ilhas Geórgia do Sul e Sandwich do Sul</option>
                        <option value="HM">Ilhas Heard e McDonald</option>
                        <option value="FK">Ilhas Malvinas</option>
                        <option value="MP">Ilhas Marianas do Norte</option>
                        <option value="MH">Ilhas Marshall</option>
                        <option value="PN">Ilhas Pitcairn</option>
                        <option value="SB">Ilhas Salomão</option>
                        <option value="TC">Ilhas Turcos e Caicos</option>
                        <option value="VI">Ilhas Virgens Americanas</option>
                        <option value="VG">Ilhas Virgens Britânicas</option>
                        <option value="WF">Ilhas Wallis e Futuna</option>
                        <option value="IN">Índia</option>
                        <option value="ID">Indonésia</option>
                        <option value="IR">Irã</option>
                        <option value="IQ">Iraque</option>
                        <option value="IE">Irlanda</option>
                        <option value="IS">Islândia</option>
                        <option value="IL">Israel</option>
                        <option value="IT">Itália</option>
                        <option value="JM">Jamaica</option>
                        <option value="SJ">Jan Mayen</option>
                        <option value="JP">Japão</option>
                        <option value="JE">Jersey</option>
                        <option value="JO">Jordânia</option>
                        <option value="KI">Kiribati</option>
                        <option value="XK">Kosovo</option>
                        <option value="KW">Kuwait</option>
                        <option value="LA">Laos</option>
                        <option value="LS">Lesoto</option>
                        <option value="LV">Letônia</option>
                        <option value="LB">Líbano</option>
                        <option value="LR">Libéria</option>
                        <option value="LY">Líbia</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LT">Lituânia</option>
                        <option value="LU">Luxemburgo</option>
                        <option value="MK">Macedônia, Antiga República Iugoslava da</option>
                        <option value="MG">Madagascar</option>
                        <option value="MY">Malásia</option>
                        <option value="MW">Malaui</option>
                        <option value="MV">Maldivas</option>
                        <option value="ML">Mali</option>
                        <option value="MT">Malta</option>
                        <option value="MA">Marrocos</option>
                        <option value="MQ">Martinica</option>
                        <option value="MU">Maurício</option>
                        <option value="MR">Mauritânia</option>
                        <option value="YT">Mayotte</option>
                        <option value="MX">México</option>
                        <option value="FM">Micronésia</option>
                        <option value="MZ">Moçambique</option>
                        <option value="MD">Moldova</option>
                        <option value="MC">Mônaco</option>
                        <option value="MN">Mongólia</option>
                        <option value="ME">Montenegro</option>
                        <option value="MS">Montserrat</option>
                        <option value="MM">Myanmar</option>
                        <option value="NA">Namíbia</option>
                        <option value="NR">Nauru</option>
                        <option value="NP">Nepal</option>
                        <option value="NI">Nicarágua</option>
                        <option value="NE">Níger</option>
                        <option value="NG">Nigéria</option>
                        <option value="NU">Niue</option>
                        <option value="NO">Noruega</option>
                        <option value="NC">Nova Caledônia</option>
                        <option value="NZ">Nova Zelândia</option>
                        <option value="OM">Omã</option>
                        <option value="NL">Países Baixos</option>
                        <option value="PW">Palau</option>
                        <option value="PA">Panamá</option>
                        <option value="PG">Papua-Nova Guiné</option>
                        <option value="PK">Paquistão</option>
                        <option value="PY">Paraguai</option>
                        <option value="PE">Peru</option>
                        <option value="PF">Polinésia Francesa</option>
                        <option value="PL">Polônia</option>
                        <option value="PR">Porto Rico</option>
                        <option value="PT">Portugal</option>
                        <option value="KE">Quênia</option>
                        <option value="KG">Quirguistão</option>
                        <option value="HK">RAE de Hong Kong</option>
                        <option value="MO">RAE de Macau</option>
                        <option value="UK">Reino Unido</option>
                        <option value="CF">República Centro-Africana</option>
                        <option value="CI">República de Côte d'Ivoire</option>
                        <option value="DO">República Dominicana</option>
                        <option value="CZ">República Tcheca</option>
                        <option value="RE">Reunião</option>
                        <option value="RO">Romênia</option>
                        <option value="RW">Ruanda</option>
                        <option value="RU">Rússia</option>
                        <option value="XS">Saba</option>
                        <option value="WS">Samoa</option>
                        <option value="AS">Samoa Americana</option>
                        <option value="SH">Santa Helena, Ascensão e Tristão da Cunha</option>
                        <option value="LC">Santa Lúcia</option>
                        <option value="VA">Santa Sé (Cidade do Vaticano)</option>
                        <option value="XE">Santo Eustáquio</option>
                        <option value="BL">São Bartolomeu</option>
                        <option value="KN">São Cristóvão e Névis</option>
                        <option value="SM">São Marinho</option>
                        <option value="PM">São Pedro e Miquelon</option>
                        <option value="ST">São Tomé e Príncipe</option>
                        <option value="VC">São Vicente e Granadinas</option>
                        <option value="SC">Seicheles</option>
                        <option value="SN">Senegal</option>
                        <option value="SL">Serra Leoa</option>
                        <option value="RS">Sérvia</option>
                        <option value="YU">Sérvia, Montenegro</option>
                        <option value="SX">Sint Maarten</option>
                        <option value="SY">Síria</option>
                        <option value="SO">Somália</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="MF">St. Martin</option>
                        <option value="SZ">Suazilândia</option>
                        <option value="SD">Sudão</option>
                        <option value="SE">Suécia</option>
                        <option value="CH">Suíça</option>
                        <option value="SR">Suriname</option>
                        <option value="TJ">Tadjiquistão</option>
                        <option value="TH">Tailândia</option>
                        <option value="TW">Taiwan</option>
                        <option value="TZ">Tanzânia</option>
                        <option value="TF">Terras Austrais e Antárticas Francesas</option>
                        <option value="IO">Território Britânico do Oceano Índico</option>
                        <option value="UM">Territórios Insulares dos Estados Unidos</option>
                        <option value="TP">Timor Leste</option>
                        <option value="TL">Timor-Leste</option>
                        <option value="TG">Togo</option>
                        <option value="TK">Tokelau</option>
                        <option value="TO">Tonga</option>
                        <option value="TT">Trinidad e Tobago</option>
                        <option value="TA">Tristão da Cunha</option>
                        <option value="TN">Tunísia</option>
                        <option value="TM">Turcomenistão</option>
                        <option value="TR">Turquia</option>
                        <option value="TV">Tuvalu</option>
                        <option value="UA">Ucrânia</option>
                        <option value="UG">Uganda</option>
                        <option value="UY">Uruguai</option>
                        <option value="UZ">Uzbequistão</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VE">Venezuela</option>
                        <option value="VN">Vietnã</option>
                        <option value="ZM">Zâmbia</option>
                        <option value="ZW">Zimbábue</option>
                    </select>
                </div>
            </div>

            <!-- Telefones CEL, FIXO E COMERCIAL-->
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputTelFix">Telefone Fixo</label>
                    <input class="form-control" type="tel" value="" id="inputTelFix">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputTelCel">Telefone Celular</label>
                    <input class="form-control" type="tel" value="" id="inputTelCel">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputTelCom">Telefone Comercial</label>
                    <input class="form-control" type="tel" value="" id="inputTelCom">
                </div>
            </div>

            <!-- E-mail alternativo-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmailAlt">E-mail alternativo</label>
                    <input type="email" class="form-control" id="inputEmailAlt" placeholder="E-mail Alternativo">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmailAlt2">Digite o E-mail novamente</label>
                    <input type="email" class="form-control" id="inputEmailAlt2" placeholder="Digite novamente o E-mail">
                </div>
            </div>

            <!-- Botão enviar-->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="button" id="enviarDados" class="btn btn-default bt-edit" onclick="ConfirmarCadastro()">Salvar Alterações</button>
                </div>

            </div>


        </form>
        <!-- Finalizando Cadastro -->
        <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
        <div style="height: 150px;"></div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dados Gravados</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <p>Cadastro Atualizado com Sucesso</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                </div>


            </div>
        </div>
    </div>

    <script type="text/javascript">

        function ConfirmarCadastro() {

            
            var cadastro = {
                    usuario:{
                    Nome: $("#inputNome").val(),
                    Sobrenome: $("#inputSobrenome").val(),
                    Rg: $("#inputRg").val(),
                    DtaNascimento: $("#inputData").val(),
                    Sexo: $("#Gender").val(),
                    EmailAlternativo: $("#inputEmailAlt").val()
                },

                end: {
                    Rua: $("#inputEnd").val(),
                    Numero: $("#inputNum").val(),
                    Bairro: $("#inputBairro").val(),
                    Cep: $("#inputCep").val(),
                    Cidade: $("#inputCity").val(),
                    Estado: $("#inputState").val(),
                    Pais: $("#inputPais").val()
                },
            }


        //    var pessoa = {
        //        Nome: $("#inputNome").val(),
        //        Sobrenome: $("#inputSobrenome").val(),
        //        Rg: $("#inputRg").val(),
        //        DtaNascimento: $("#inputData").val(),
        //        Sexo: $("#Gender").val(),
        //        EmailAlternativo: $("#inputEmailAlt").val()
        //};


        //    var endereco = {
        //        Rua: $("#inputEnd").val(),
        //        Numero: $("#inputNum").val() ,
        //        Bairro: $("#inputBairro").val(),
        //        Cep: $("#inputCep").val(),
        //        Cidade: $("#inputCity").val(),
        //        Estado: $("#inputState").val(),
        //        Pais: $("#inputPais").val()
        //    };


            $.ajax({
                url: "@Url.Action("TestandoUpdate", "Usuario")",
                cache: false,
                method: "post",
                datatype: "json",
                data: cadastro,
                success: function (dados) {

                    alert("Sucesso");
                },
                error: function () {
                    alert("Houve um herro ao salvas os cadastros");
                }
            });
        };

    </script>


}