@{
    Layout = "~/Views/Shared/_Mestre.cshtml";

}

@section Corpo {
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">i4Tech</a>
            </li>
            <li class="breadcrumb-item active">Navbar</li>
        </ol>
        <h1>Atualização de Cadastro</h1>
        <hr>
        <p>Parabéns! Você já criou o seu pré cadastro, vamos atualizar mais alguns dados.</p>

        <form>
            <!-- Nome, sobrenome-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" id="inputNome" placeholder="Nome">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSobrenome">Sobrenome</label>
                    <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome">
                </div>
            </div>

            <!-- RG, CPF-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputRg">RG</label>
                    <input type="text" class="form-control" id="inputRg" placeholder="Digite o número do RG">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCpf">CPF</label>
                    <input type="text" class="form-control" id="inputCpf" placeholder="Digite o número do CPF">
                </div>
            </div>

            <!--Data nascimento, SEXO-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputData">Data de Nascimento</label>
                    <input class="form-control" type="date" id="inputData">
                </div>
                <div class="form-group col-md-6">
                    <label class="text-base" for="Gender">Sexo</label>
                    <select id="Gender" class="form-control" name="Gender" data-bind="value: gender, hasFocus: gender.focused, css: { 'has-error': showError(gender) }">
                        <option selected="selected" value="">Selecione...</option>
                        <option value="m">Masculino</option>
                        <option value="f">Feminino</option>
                        <option value="u">Não especificado</option>
                    </select>
                </div>
            </div>

            <!-- CEP,ENDEREÇO, NÚMERO E BAIRRO-->
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputCep">CEP</label>
                    <input type="text" class="form-control" id="inputCep">
                    <label name="inputCep" id="cepInvalido" class="feedback" style="display: none;">O CEP é inválido</label>
                    <!-- <input name="CepValido" type="text" id="cepValido" class="form-control"> -->
                    Não sabe o CEP? <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank" class="aConsultaCEP">Pesquisar</a>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEnd">Endereço</label>
                    <input type="text" class="form-control" id="inputEnd">
                </div>
                <div class="form-group col-md-1">
                    <label for="inputNum">Número</label>
                    <input type="text" class="form-control" id="inputNum">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputBairro">Bairro</label>
                    <input type="text" class="form-control" id="inputBairro">
                </div>
            </div>

            <!-- CIDADE, ESTADO E PAÍS-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Cidade</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputState">Estado</label>
                    <select id="inputState" class="form-control">
                        <option selected>Selecione...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPais">País</label>
                    <select id="inputPais" class="form-control">
                        <option selected>Selecione...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <!-- Telefones CEL, FIXO E COMERCIAL-->
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputTelFix">Telefone Fixo</label>
                    <input class="form-control" type="tel" value="" id="inputTelFix">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputTelCel">Telefone Celular</label>
                    <input class="form-control" type="tel" value="" id="inputTelCel">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputTelCom">Telefone Comercial</label>
                    <input class="form-control" type="tel" value="" id="inputTelCom">
                </div>
            </div>

            <!-- E-mail alternativo-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmailAlt">E-mail alternativo</label>
                    <input type="email" class="form-control" id="inputEmailAlt" placeholder="E-mail Alternativo">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmailAlt2">Digite o E-mail novamente</label>
                    <input type="email" class="form-control" id="inputEmailAlt2" placeholder="Digite novamente o E-mail">
                </div>
            </div>

            <!-- Botão enviar-->
            <div class="form-row">
                <div class="form-group col-md-10">
                    <button type="button" id="enviarDados"class="btn btn-default bt-edit" data-toggle="modal" data-target="#myModal">Salvar Alterações</button>
                </div>
            </div>
        </form>
        <!-- Finalizando Cadastro -->

        <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
        <div style="height: 100px;"></div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dados Gravados</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <p>Cadastro Atualizado com Sucesso</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                </div>


            </div>
        </div>
    </div>

}



